In [1]:
#importing necessary libraries
import pandas as pd
import numpy as np

In [7]:
#importing yearly dataset
plane_2005 = pd.read_csv("2005.csv")
plane_2006 = pd.read_csv("2006.csv.csv")

In [8]:
plane_2005.shape

(7140596, 29)

In [9]:
plane_2006.shape

(7141922, 29)

In [10]:
for col_name in plane_2006.columns: 
    print(col_name)

Year
Month
DayofMonth
DayOfWeek
DepTime
CRSDepTime
ArrTime
CRSArrTime
UniqueCarrier
FlightNum
TailNum
ActualElapsedTime
CRSElapsedTime
AirTime
ArrDelay
DepDelay
Origin
Dest
Distance
TaxiIn
TaxiOut
Cancelled
CancellationCode
Diverted
CarrierDelay
WeatherDelay
NASDelay
SecurityDelay
LateAircraftDelay

In [11]:
plane_2006["UniqueCarrier"]

0          US
1          US
2          US
3          US
4          US
           ..
7141917    DL
7141918    DL
7141919    DL
7141920    DL
7141921    DL
Name: UniqueCarrier, Length: 7141922, dtype: object

In [12]:
# Merging both 2006 and 2005 datasets
joined_df = pd.concat([plane_2006, plane_2005],ignore_index= True)

In [13]:
joined_df.shape

(14282518, 29)

In [14]:
# Using the pandas isnull() function to find the count of null values present in each column
pd.isnull(joined_df).sum(axis=0)

Year                        0
Month                       0
DayofMonth                  0
DayOfWeek                   0
DepTime                255664
CRSDepTime                  0
ArrTime                285878
CRSArrTime                  0
UniqueCarrier               0
FlightNum                   0
TailNum                     0
ActualElapsedTime      285878
CRSElapsedTime              4
AirTime                285878
ArrDelay               285878
DepDelay               255664
Origin                      0
Dest                        0
Distance                    0
TaxiIn                      0
TaxiOut                     0
Cancelled                   0
CancellationCode     14026853
Diverted                    0
CarrierDelay                0
WeatherDelay                0
NASDelay                    0
SecurityDelay               0
LateAircraftDelay           0
dtype: int64

In [15]:
#DepTime: null values 255664,
#ArrTime: nullvalues 285878, 
#ActualElapsedTime: Null values 285878, 
#AirTime Null values285878, 
#ArrDelay: Null values 285878, 
#DepDelay Null values255664,
#CancellationCode Null values 14026853

In [16]:
# Finding the value counts of Cancelled column
joined_df.Cancelled.value_counts()

0    14026854
1      255664
Name: Cancelled, dtype: int64

In [17]:
# Finding the value counts of Diverted column
joined_df.Diverted.value_counts()

0    14252304
1       30214
Name: Diverted, dtype: int64

In [18]:
joined_df.duplicated().sum()

18

In [19]:
# Removing duplicate rows using drop_duplicates()
joined_df = joined_df.drop_duplicates()
joined_df.shape

(14282500, 29)

In [20]:
#We have removed 18 duplicate rows
pd.isnull(joined_df).sum(axis=0)

Year                        0
Month                       0
DayofMonth                  0
DayOfWeek                   0
DepTime                255664
CRSDepTime                  0
ArrTime                285877
CRSArrTime                  0
UniqueCarrier               0
FlightNum                   0
TailNum                     0
ActualElapsedTime      285877
CRSElapsedTime              4
AirTime                285877
ArrDelay               285877
DepDelay               255664
Origin                      0
Dest                        0
Distance                    0
TaxiIn                      0
TaxiOut                     0
Cancelled                   0
CancellationCode     14026835
Diverted                    0
CarrierDelay                0
WeatherDelay                0
NASDelay                    0
SecurityDelay               0
LateAircraftDelay           0
dtype: int64

In [21]:
#We can see the null values in DepTime, ArrTime,ActualElapsedTime, AirTime,ArrDelay and DepDelay are due to cancelled
#and Diverted Flights

#We will be removing Cancellation,CancellationCode and Diverted Coloumns as they will not be used to answer any of the 4Q's
#And We will be removing the rows that have cancelled flights

In [22]:
#First we will be removing rows with Cancelled and Diverted Flights

In [23]:
# Using the pandas notnull() function to only select non-null values from 'ArrDelay' column
joined_df = joined_df[pd.notnull(joined_df["ArrTime"])]

In [24]:
pd.isnull(joined_df).sum(axis=0)

Year                        0
Month                       0
DayofMonth                  0
DayOfWeek                   0
DepTime                     0
CRSDepTime                  0
ArrTime                     0
CRSArrTime                  0
UniqueCarrier               0
FlightNum                   0
TailNum                     0
ActualElapsedTime           0
CRSElapsedTime              0
AirTime                     0
ArrDelay                    0
DepDelay                    0
Origin                      0
Dest                        0
Distance                    0
TaxiIn                      0
TaxiOut                     0
Cancelled                   0
CancellationCode     13996622
Diverted                    0
CarrierDelay                0
WeatherDelay                0
NASDelay                    0
SecurityDelay               0
LateAircraftDelay           0
dtype: int64

In [29]:
joined_df.Cancelled.value_counts()

0    13996623
Name: Cancelled, dtype: int64

In [26]:
#We can see the null values in DepTime, ArrTime,ActualElapsedTime, AirTime,ArrDelay and DepDelay have been removed
#So now CancellationCOde, Cancelled and Diverted coloumns contain only 0 and null values, so we will be removing these coloumns

In [27]:
#Dropping the cancellationcode coloumn 
joined_df.drop(columns=["CancellationCode"],inplace= True)

In [31]:
#Dropping the Cancelled coloumn
joined_df.drop(columns=["Cancelled"],inplace= True)
joined_df.shape

(13996623, 27)

In [32]:
#Dropping the Diverted coloumn
joined_df.drop(columns=["Diverted"],inplace= True)
joined_df.shape

(13996623, 26)

In [41]:
#Investigating illogical values
for column in joined_df.columns[1:]:
    if joined_df[column].dtype == "int64" :
        print(f"Colname: {column},min : {joined_df[column].min()}, max : {joined_df[column].max()}")

Colname: Month,min : 1, max : 12
Colname: DayofMonth,min : 1, max : 31
Colname: DayOfWeek,min : 1, max : 7
Colname: CRSDepTime,min : 0, max : 2359
Colname: CRSArrTime,min : 0, max : 2359
Colname: FlightNum,min : 1, max : 9619
Colname: Distance,min : 11, max : 4962
Colname: TaxiIn,min : 0, max : 1523
Colname: TaxiOut,min : 0, max : 1339
Colname: CarrierDelay,min : 0, max : 1925
Colname: WeatherDelay,min : 0, max : 1510
Colname: NASDelay,min : -49, max : 1392
Colname: SecurityDelay,min : 0, max : 354
Colname: LateAircraftDelay,min : 0, max : 1366

In [42]:
#Investigating illogical values
for column in joined_df.columns[1:]:
    if joined_df[column].dtype == "float64" :
        print(f"Colname: {column},min : {joined_df[column].min()}, max : {joined_df[column].max()}")

Colname: DepTime,min : 1.0, max : 2930.0
Colname: ArrTime,min : 1.0, max : 2955.0
Colname: ActualElapsedTime,min : -66.0, max : 1879.0
Colname: CRSElapsedTime,min : -31.0, max : 660.0
Colname: AirTime,min : -1428.0, max : 1958.0
Colname: ArrDelay,min : -939.0, max : 1925.0
Colname: DepDelay,min : -1200.0, max : 1930.0

In [44]:
#ArrTime and Deptime have values more than 24hours
#We will be removing rows that have these values
joined_df = joined_df[(joined_df["ArrTime"]<2400)&(joined_df["DepTime"]<2400)]

In [45]:
joined_df.shape
#removed 17,127 rows

(13979496, 26)

In [49]:
joined_df.to_csv(r"C:\Users\Ridhwan\Desktop\UOL\PROGRAMMING COURSEWORK\joined_df.csv", index= False)